{% extends 'base-front.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

   <h1 class="text-center mt-5">Bienvenue sur le Bon coin du pauvre</h1>

{% endblock %}
